In [1]:
# -*- coding: utf-8 -*- Line 2
#----------------------------------------------------------------------------
# Project     : Price Alarm System Enhancement - Alarm3 - Abnormal Price Detection
# Created By  : Eungi Cho
# Created Date: 07/06/22
# Updated Date: 07/06/22
# version ='1.0'
# ---------------------------------------------------------------------------

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")
plt.style.use('default')

In [2]:
import pathlib
df_raw = pd.read_csv('/Users/cho-eungi/Practice/CSV/market_entry_price.csv')
df_raw = df_raw.drop_duplicates()
df_raw.head()

,source_id,country,market_id,product_id,entry_id,currency,final_unit,date,price_min,price_max,price_avg
0,201,South Africa,1487,131,92926374,ZAR,kg,2020-07-20,19.64,21.2,19.956
1,39,India,810,490,41039702,INR,kg,2020-07-06,11.80,12.5,12.200
2,41,India,2188,133,50157058,INR,kg,2020-07-06,50.00,52.7,51.400
3,556,Bangladesh,6581,545,84458922,BDT,kg,2020-07-13,4400.00,4800.0,4600.000
4,150,Turkey,2482,126,58387432,TRY,NaN,2020-07-13,10.00,15.0,11.288

Step1: Randomly sampling 30 entries to create test_df
Step2: Join time_df to each entry_df to reflect the actual frequency of price acquisition
Step3: Use confidence bands to filter abnormal price, and count the number
Step4: Calculate the variability of each entry

In [3]:
entry_lst = np.sort(df_raw['entry_id'].unique())
np.random.seed(0)
sample_entry = np.random.choice(entry_lst, 30)
test_df = df_raw.loc[df_raw['entry_id'].isin(sample_entry)].sort_values(
    by = ['source_id', 'market_id', 'entry_id', 'date']).copy()
test_df['date'] = pd.to_datetime(test_df['date'])
test_df

,source_id,country,market_id,product_id,entry_id,currency,final_unit,date,price_min,price_max,price_avg
10251136,29,United States,329,236,94951352,USD,pound,2020-01-06,40.0,44.00,42.000000
10251137,29,United States,329,236,94951352,USD,pound,2020-01-13,42.0,47.00,44.600000
10174185,29,United States,329,236,94951352,USD,pound,2020-01-20,45.0,46.00,45.500000
10150648,29,United States,329,236,94951352,USD,pound,2020-01-27,40.0,42.00,41.000000
10040211,29,United States,329,236,94951352,USD,pound,2020-02-03,30.0,32.00,31.000000
...,...,...,...,...,...,...,...,...,...,...,...
9617790,640,South Africa,651,230,87911783,ZAR,kg,2021-01-04,17.0,21.37,18.333333
3095063,640,South Africa,1472,129,95577699,ZAR,kg,2021-01-18,60.0,72.22,58.750000
3156010,640,South Africa,1472,129,95577699,ZAR,kg,2021-01-25,60.0,59.23,55.000000
3150005,640,South Africa,1472,129,95577699,ZAR,kg,2022-01-03,75.0,75.00,75.000000
3815060,643,South Africa,1234,713,115708165,ZAR,NaN,2021-12-27,170.0,170.00,170.000000

In [11]:
# W-MON date range from 2020 to 2022
# Left Join Test DF and Time DF
empty_df = pd.DataFrame()
for entry in sample_entry:
    entry_start = min(df_raw.loc[df_raw['entry_id'] == entry]['date'])
    date_range = pd.date_range(entry_start, '2022-05-31', freq = 'W-MON')
    time_df = pd.DataFrame({'date': date_range})
    
    time_df['entry_id_'] = entry
    entry_df = test_df.loc[test_df['entry_id'] == entry]
    joined_df = pd.merge(time_df, entry_df, left_on = ['date'], right_on = ['date'], how = 'left')
    empty_df = empty_df.append(joined_df)

empty_df = empty_df.drop(['entry_id'], axis = 1)
df = empty_df.copy()
df = df.sort_values(by = ['entry_id_', 'date'])
df.set_index(np.arange(len(df)), inplace=True)
print('number of unique entry_id in df: ', len(df.entry_id_.unique()))
print('shape of df: ', df.shape)
print('number of null price_avg data in each entry: ', df.groupby('entry_id_')['price_avg'].isnull().sum())
df.head()

number of unique entry_id in df:  30
shape of df:  (2729, 11)

AttributeError: 'SeriesGroupBy' object has no attribute 'isnull'

,date,entry_id_,source_id,country,market_id,product_id,currency,final_unit,price_min,price_max,price_avg
0,2020-01-06,40867745,39.0,India,1484.0,206.0,INR,kg,61.75,61.75,61.75
1,2020-01-13,40867745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-20,40867745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-27,40867745,39.0,India,1484.0,206.0,INR,kg,46.05,51.00,48.50
4,2020-02-03,40867745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN